EXPO_PUBLIC_SUPABASE_URL=https://omeoszuulgfkynyaquoq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tZW9zenV1bGdma3lueWFxdW9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMTc4OTIsImV4cCI6MjA5OTY5Mzg5Mn0.z7GKTBHi62Ijowm5WNXXvVhKTG-4xRoJ_rhCQrmF5og
